*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variabili */
:root{
    --greenw-150: #7fffd4;
}
/* variabili */
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* header */
#header{
    display: flex;
    justify-content: space-between;
}
/* header */
/* main */
#main{
    flex-grow: 1;
    background-color: var(--greenw-150);
    display: flex;
    align-items: center;
}
.main-container{
   width: 500px;
   height:500px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
}
.box{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main */

